/* Hide custom dropdown by default */
.custom-dropdown-menu {
    display: none;
    top: 100%;
    left: 0;
    min-width: 180px;
    z-index: 1050;
}

/* Show dropdown on nav-link hover */
.nav-item.dropdown:hover .custom-dropdown-menu {
    display: block;
}

/* Optional: smooth fade in animation */
.custom-dropdown-menu {
    animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}
.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    background-color: var(--mfc1);
    width: 50%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.1s ease-in-out;
    
}

.nav-link:hover::after {
    opacity: 1;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: var(--mfc6);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

nav a {
    margin: 0 1rem;
    color: var(--mfc5);
    font-weight: 500;
}

nav a:hover {
    color: var(--mfc2);
}
nav .offcanvas{
    background:var(--mfc6);
}
main{
    flex:1;
    position: relative;
}
#heroSection{
    position:relative
}
#heroSection::before{
    content: '';
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -999;
    background-color: var(--mfc4);
    clip-path: circle(67.2% at 96% 50%);
    border-radius: calc(1rem * 1.5);
}

#pictureCon{
    position: relative;
}
#pictureCon img{
    position:absolute;
    aspect-ratio: 1/1;
}
#pictureCon img#img1{
    width: 25vw;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#pictureCon img#img2{
    width: 15vw;
    bottom:-10%;
    left:30%;
    transform: translate(-50%,-50%);
}
.hero, .about, .services {
    color: var(--mfc6);
    height: calc((100vh - 7vh) - 10vh);
}

.hero h2 {
    font-size: 4em;
    margin-bottom: 1em;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 2em;
    max-width: 600px;
}

.hero h2, .hero p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.hero a, .hero a:hover{
    background-color: var(--mfc3);
    color: white;
}
.applyNow{
    background-color: var(--mfc3) !important;
    color: white;
}
.applyNow:hover{
    background-color: var(--mfc6) !important;
    color: white;
}
/* Footer */
footer {
    display: "block";
    background-color: var(--mfc6);
    color: var(--mfc5);
    text-align: center;
    padding: 2rem;
}

footer p {
    margin: 0;
}
