@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root{
    --mfc1: #4bc5ec;
    --mfc2: #94dcf4;
    --mfc3: #2c3c8c;
    --mfc4: #5cbc9c;
    --mfc5: #bdccdc;
    --mfc6: #353c61;
}
